ModuloAdministracionDeProveedores
RegistrarProveedor
ActualizarProveedor
SolicitarBaja
EliminarProveedor
ModuloAdministracionDeServicios
PublicarServicios
CrearSevicio
EditarServicio
EliminarServicio
PublicarPaquetes
ArmarPaquete
EditarPaquete
EliminarPaquete
ConfigurarCategoria
ModuloBusquedas
BuscarServicios
ConsultarServicio
VerPreguntas
RealizarPreguntas
ModuloCompras
AgregarCarrito
ComprarServicio
PublicarEnRedes
PublicarFacebook
PublicarTwitter
CalificarServivio
ComentarServicio
ConsultarTransaccionesyVentas
ModuloComunicacion
ResponderPreguntas
Mensajeria
ModuloRegistro
RegistrarCliente
RegistroLocal
RegistroFacebook
RegistroTwitter
Autenticar
AutenticacionLocal
AutenticacionFacebook
AutenticacionTwitter
ModuloReportes
ReporteBusquedas
ReporteVentas
ReporteConsultas
ModuloBusquedaPersonalizada
CargarBusquedasRecientes
AlmacenarBusquedasRecientes
